* {
  margin: 0;
  padding: 0;
}
#root {
  width: 500px;
  margin: 100px auto 0;
  background-color: #000000;
}
#root ul {
  list-style-type: none;
}
#root ul li {
  display: flex;
  height: 80px;
  background-color: #ccc;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.over {
  background-color: #000000 !important;
}
[draggable] {
  -moz-user-select: none;
  user-select: none;
}
